<AuxConfig>
    <bind-options
        host="127.0.0.1"
        port="1080"
        iface="default"
        iface-mtu="1500"
        iface-ipv4-ip="0.0.0.0"
        iface-ipv6-ip="::"
    />
    <fake-packet-options
        ttl="64"
        sni="yandex.ru"
        only-oob="false"
        protocol-http="false"
        protocol-http-host="yandex.ru"
        send-reversed="false"
        send-random-garbage="false"
        send-clienthello="false"
        clienthello-sni="yandex.ru"
    >
        <send-twice>false</send-twice>
    </fake-packet-options>
    <socket-options
        recv-size="65535"
        send-size="65535"
        desync-cutoff-ms="200"
        packet-delay-jitter="0"
        disable-sack="false"
        oob-hell-data="yandex.ru"
    />
    <http-options
        host-mixcaps="false"
        host-remove-space="false"
        host-space="false"
        domain-mixcaps="false"
    />
    <desync-options
        packet-ttl="8"
        default-ttl="4"
        out-of-band-charid="23"
        packet-hops-max="3"
    />
    <dns-options integrated_doh_enabled="true" />
    <router-options>
        <!-- Prevent discord from connecting to main gateway URL -->
        <rules
            scope="SNI"
            type="Forward"
            match="*.discord.gg"
            exec="block 127.0.0.1:9050"
        />
    </router-options>
    <whitelist-sni>true</whitelist-sni>
    <whitelist-sni-list list="domain" value="discord.com" />
    <whitelist-sni-list list="domain" value="youtube.com" />
    <whitelist-sni-list list="domain" value="googlevideo.com" />
    <strategies
        type="FRAGTLS"
        offset="3"
        add-sni="true"
        add-host="false"
        negative_offset="false"
    >
        <filter-protocol>TCP</filter-protocol>
        <filter-port>
            <start>442</start>
        </filter-port>
        <filter-sni>
            <WhiteListedSNIWrapper list="domain" value="youtube.com" />
            <WhiteListedSNIWrapper list="domain" value="discord.com" />
            <WhiteListedSNIWrapper list="domain" value="discordapp.com" />
            <WhiteListedSNIWrapper list="domain" value="googlevideo.com" />
        </filter-sni>
    </strategies>
</AuxConfig>
