name: Waterfall builder bot

on:
  release:
    types: [published]
  workflow_dispatch:
    inputs:
      tag_name:
        description: "Release tag"
        required: false

jobs:
  build:
    name: Build waterfall for ${{ matrix.target }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        target:
          - x86_64-pc-windows-gnu
          - x86_64-pc-windows-msvc
          - i686-pc-windows-msvc
          - i686-pc-windows-gnu
          - aarch64-pc-windows-msvc
          - x86_64-unknown-linux-gnu
          - i686-unknown-linux-gnu
          - aarch64-unknown-linux-gnu
          - arm-unknown-linux-gnueabi
          - arm-unknown-linux-gnueabihf
          - armv7-unknown-linux-gnueabihf
          - armv7-unknown-linux-ohos
          - loongarch64-unknown-linux-gnu
          - loongarch64-unknown-linux-musl
          - powerpc-unknown-linux-gnu
          - riscv64gc-unknown-linux-gnu
          - x86_64-unknown-freebsd
          - x86_64-unknown-illumos
          - x86_64-unknown-linux-musl
          - x86_64-unknown-linux-ohos
          - x86_64-unknown-netbsd
          - x86_64-pc-solaris
          - sparcv9-sun-solaris

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable
        with:
          targets: ${{ matrix.target }}

      - name: Caching
        uses: Swatinem/rust-cache@v2

      - name: Install cross
        run: cargo install cross

      - name: Build with cross
        run: |
          cross build --release --target ${{ matrix.target }}

      - name: Bin copy
        run: |
          mkdir -p dist

          TARGET=$(echo "${{ matrix.target }}" | sed 's/-unknown//g' | sed 's/-pc//g' | tr '-' '_')
          FINISH=""
          if [[ "${{ matrix.target }}" == *"windows"* ]]; then
            FINISH=".exe"
          fi

          if [ -f "./target/${{ matrix.target }}/release/waterfall$FINISH" ]; then
            cp "./target/${{ matrix.target }}/release/waterfall$FINISH" "./dist/waterfall-${TARGET}$FINISH"
          fi

      - name: Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: waterfall-${{ matrix.target }}
          path: dist/*
          retention-days: 30

  commit-dist:
    name: Commit dist folder
    needs: build
    runs-on: ubuntu-latest
    if: always()
    permissions:
      contents: write
    steps:
      - name: A
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          fetch-depth: 0

      - name: B
        uses: actions/download-artifact@v4
        with:
          path: artifacts

      - name: C
        run: |
          mkdir -p dist
          find artifacts -type f -name "waterfall-*" -exec cp {} dist/ \;

      - name: D
        run: |
          tar -cvf waterfall-builds.tar dist/
          rm -rf dist/

          git config --local user.email "qulsar@nicemail.i2p"
          git config --local user.name "Qulsar"
          git add waterfall-builds.tar
          git commit -m "Dist update [skip ci]" || true
          git pull --rebase origin ${{ github.ref_name }} || true
          git push || true
